<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Wind Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <!--leaflet-velocity-->
  <link rel="stylesheet"
    href="{{url_for('static',filename='node_modules/leaflet-velocity/dist/leaflet-velocity.css')}}" />
  <script src="{{url_for('static',filename='node_modules/leaflet-velocity/dist/leaflet-velocity.js')}}"></script>


</head>

<body translate="no">
  <div id="map"
    class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
    style="width: 1920px; height: 1080px; position: relative;"></div>

  <script src="{{url_for('static',filename='libs/currents.js')}}"></script>


</body>

</html>