{% extends 'base_demo.html' %}

{% block content %}


<div class="mt-3 row justify-content-md-center">

    <div class="col-lg-8">
        <div class="card">

            <div class="card-body">
                <form action="/results">
                    <div class="form-body">
                        <h2 class="card-title text-center">Route selector</h2>
                        <hr>
                        <!--/row-->

                        <!--    BOAT SELECTOR    -->
                        <div class="row justify-content-md-cente">
                            <div class="col-md-6">
                                <div class="form-group text-center">
                                    <label class="control-label">Available boats</label>
                                    <select id="boatSelector" name="boat" class="form-control custom-select" required>
                                        <option value="0"> STOLT BOBCAT </option>
                                    </select>
                                    <small class="form-control-feedback"> Select the boat model </small>
                                </div>
                            </div>

                            <!--    ROUTE SELECTOR    -->
                            <div class="col-md-6">
                                <div class="form-group text-center">
                                    <label class="control-label">Available shipping routes</label>
                                    <select id="routeSelector" name="route" class="form-control custom-select" required>
                                        <option value="" hidden> Route </option>
                                        {% for opt in city_options %}
                                        <option value={{opt}}>{{opt}}</option>
                                        {% endfor %}
                                    </select>
                                    <small class="form-control-feedback"> Select the desired route to optimize </small>
                                </div>
                            </div>
                            <!--/span-->
                            <!--    DATE SELECTOR    -->
                            <div class="col-md-4"></div>
                            <!-- bad practise -->
                            <div class="col-md-4">
                                <div class="form-group text-center">
                                    <label class="control-label">Date of Departure</label>
                                    <select id="dateSelector" name="date" class="form-control custom-select" required>
                                        {% for date in dates %}
                                        <option value={{date}}> {{date}} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>

                    <div class="mt-3 row justify-content-around">

                        <div class="col-lg-5">
                            <!-- BOAT PROPERTIES CARD -->
                            <div hidden id="boatProperties-title" class="card">
                                <img class="card-img-top img-responsive" src="{{url_for('static',filename='images/boats/STOLT_BOBCAT.jpg')}}" alt="Card image cap">

                                <div class="card-header">
                                    <h4 class="m-b-0 text-center">STOLT BOBCAT</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div hidden id="boatProperties-body" class="card">
                                <div class="card-body">
                                    <a class="card-text"></a>
                                    <br>
                                    <a class="card-text"></a>
                                    <br>
                                    <a class="card-text"></a>
                                    <br>
                                    <a class="card-text"></a>
                                    <br>
                                    <a class="card-text"></a>
                                    <br>
                                    <a class="card-text"></a>
                                    <br>
                                    <a class="card-text"></a>
                                    <br>
                                    <a class="card-text"></a>
                                    <br>
                                    <a class="card-text"></a>
                                    <br>
                                    <a class="card-text"></a>
                                </div>
                            </div>
                        </div>
                        <!-- EN OF BOAT PROPERTIES CARDS -->

                    </div>

            </div>


            <div class="form-actions ">
                <div class="col text-center ">
                    <button type="submit" class="btn btn-lg btn-primary btn-info" style="background-color: #23387a !important;"> <i class="fa"></i> Optimize </button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>


</div>







{% endblock %} 
