{% extends 'base.html' %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="#features">Features</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#data">Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#optimization">Optimization</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#demo">Demo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#team">Team</a>
    </li>
{% endblock %}

{% block content %}
<!--Main layout-->
<main>
    <div class="container">
        <section id="features" class="text-center">
            <h2 class="mb-5 font-weight-bold text-center section-title">Features</h2>

            <!--Grid row-->
            <div class="row d-flex justify-content-center mb-4">

                <!--Grid column-->
                <div class="col-md-8">

                    <!-- Description -->
                    <p class="darkgrey-text">In the world of maritime transport, there are major challenges to be solved in
                        the coming years.</p>

                </div>
            </div>

            <!--Grid column-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-4 mb-5">
                    <img class = "filter-blue" src="{{url_for('static',filename='images/icon/basic_globe.svg')}}" width="60" height="60"
                        alt="Enviromental" />
                    <h4 class="my-4 font-weight-bold">Ecofriendly</h4>
                    <p class="darkgrey-text">Maritime traffic produces 2.5% of the planet's total CO2. The International
                        Maritime Organization's goal is to reduce these emissions by 40% before 2030.</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-5">
                    <img class = "filter-blue" src="{{url_for('static',filename='images/icon/ecommerce_dollar.svg')}}" width="60" height="60"
                        alt="Cost" />
                    <h4 class="my-4 font-weight-bold">Money saving</h4>
                    <p class="darkgrey-text">The price of fuel for a day's sailing is around $66000, so for long routes the
                        price is excessive. For example, a route from Algeciras to Shanghai (36 days) costs $2.4M.</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-5">
                    <img class = "filter-blue" src="{{url_for('static',filename='images/icon/basic_anchor.svg')}}" width="60" height="60"
                        alt="Safety" />
                    <h4 class="my-4 font-weight-bold">Crew safety</h4>
                    <p class="darkgrey-text">Throughout 2020, 195 cases of armed robbery by pirates were reported. This
                        combined with possible weather problems, causes crews to be exposed to great dangers.</p>
                </div>
                <!--Grid column-->

            </div>
        </section>

        <hr class="my-5">
        
        <!--Section: Data-->
        <section id="data" class="text-center">
            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold"> Data driven model </h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                    <div class="view overlay z-depth-1-half round">
                        <img src="{{url_for('static',filename='images/demo/currents.gif')}}" class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Currents</h4>
                    <p class="darkgrey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="view overlay z-depth-1-half round">
                        <img src="{{url_for('static',filename='images/demo/wind.gif')}}" class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Wind</h4>
                    <p class="darkgrey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="view overlay z-depth-1-half round">
                        <img src="{{url_for('static',filename='images/demo/waves.gif')}}" class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Waves</h4>
                    <p class="darkgrey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </section>
        <!--Section: Data-->

        <hr class="my-5">
        <!--Section: optimization-->
        <section id="optimization">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold text-center">Optimization</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6">

                    <!--Excerpt-->
                    <h4 class="mb-3"><strong>Vessel consumption modeling</strong></h4>
                    <p class="darkgrey-text"> 
                        Give a try to our demostrator and explore the features that our weather routing system.
                        This optimizations are pre-calculated and implemented using real maritime traffic data from AIS transponders in order to 
                        compare comercial routes to our optimal solution.
                    </p>
                    <h4 class="mb-3"><strong>Bio-inspired optimization algorithms</strong></h4>
                    <p class="darkgrey-text">
                        A* (pronounced "A-star") is a graph traversal and path search algorithm, which is often used in many fields of computer science due to its completeness, optimality, and optimal efficiency.[1] One major practical drawback is its O ( b d ) {\displaystyle O(b^{d})} O(b^d) space complexity, as it stores all generated nodes in memory.
                    </p>

                </div>
                <!--Grid column-->

                 <!--Grid column-->
                 <div class="col-md-6 mb-4">
                    <div class="view overlay z-depth-1-half">
                        <img src="{{url_for('static',filename='images/demo/optimization.gif')}}" class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>
                    
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: optimization-->
        <hr class="my-5">
        <!--Section: demo-->
        <section id="demo">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold text-center">Trial Version</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-4">

                    <!--Carousel Wrapper-->
                    <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
                        <!--Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                        </ol>
                        <!--/.Indicators-->
                        <!--Slides-->
                        <div class="carousel-inner z-depth-1-half" role="listbox">
                            <!--First slide-->
                            <div class="carousel-item active">
                                <img class="d-block w-100 h-80" src="{{url_for('static',filename='images/demo/route_far.png')}}"
                                    alt="First slide">
                            </div>
                            <!--/First slide-->
                            <!--Second slide-->
                            <div class="carousel-item">
                                <img class="d-block w-100 h-80" src="{{url_for('static',filename='images/demo/form.png')}}"
                                    alt="Second slide">
                            </div>
                            <!--/Second slide-->
                            <!--Third slide-->
                            <div class="carousel-item">
                                <img class="d-block w-100 h-80" src="{{url_for('static',filename='images/demo/ocean.png')}}"
                                    alt="Third slide">
                            </div>
                            <!--/Third slide-->
                        </div>
                        <!--/.Slides-->
                        <!--Controls-->
                        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!--/.Controls-->
                    </div>
                    <!--/.Carousel Wrapper-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6">

                    <!--Excerpt-->
                    <h4 class="mb-3"><strong>Try our demo version</strong></h4>
                    <p class="darkgrey-text"> 
                        Give a try to our demostrator and explore the features that our weather routing system.
                        This optimizations are pre-calculated and implemented using real maritime traffic data from AIS transponders in order to 
                        compare comercial routes to our optimal solution.
                    </p>
                    <p class="darkgrey-text">
                        In this web application you will be able to consult all the oceanographical data on a interactive map of the earth.
                        You will be also able to compare between both the real and optimal route in different time gaps to see how the fuel consumption is affected 
                        on every step of the journey.
                    </p>
                </div>
                
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <div>
                <a class="btn btn-primary btn-md centered-btn" style="background-color: #23387a !important;">Try it!</a>
            </div>

        </section>
        <!--Section: demo-->
        <hr class="my-5">
        <section id="team">
            <h2 class="mb-5 font-weight-bold text-center">Meet our team</h2>
            
            <!--Grid row-->
            <div class="row d-flex justify-content-center mb-4">

                <!--Grid column-->
                <div class="col-md-8">

                    <!-- Description -->
                    <p class="darkgrey-text">A large team of computer scientists, mathematicians and physicists, all specialized in computer science, has been reunited. Thanks to all of them, the development of this tool has been possible.</p>

                </div>
            </div>

            <div class="container mt-3" style="margin-bottom: 3rem !important;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle person-photo" src="{{url_for('static',filename='images/dummy-person-image.jpg')}}" width="90">
                                <img class="img-responsive rounded-circle organization-logo" src="{{url_for('static',filename='images/logo-ucadatalab-circle.png')}}" width="40">
                            </div>
                            <h5 class="mt-3 name">David Gómez-Ullate</h5>
                            <span class="darkgrey-text">Strategic advisor</span>
                            <div class="mt-4">
                                <a class="li-ic">
                                    <i class="fab fa-linkedin mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fa fa-envelope mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fab fa-github mr-4 filter-blue"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle person-photo" src="{{url_for('static',filename='images/dummy-person-image.jpg')}}" width="90">
                                <img class="img-responsive rounded-circle organization-logo" src="{{url_for('static',filename='images/logo-ucadatalab-circle.png')}}" width="40">
                            </div>
                            <h5 class="mt-3 name">Daniel Precioso</h5>
                            <span class="darkgrey-text">Modeling team</span>
                            <div class="mt-4">
                                <a class="li-ic">
                                    <i class="fab fa-linkedin mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fa fa-envelope mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fab fa-github mr-4 filter-blue"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle person-photo" src="{{url_for('static',filename='images/dummy-person-image.jpg')}}" width="90">
                                <img class="img-responsive rounded-circle organization-logo" src="{{url_for('static',filename='images/logo-ucadatalab-circle.png')}}" width="40">
                            </div>
                            <h5 class="mt-3 name">Francisco Amor</h5>
                            <span class="darkgrey-text">Full stack developer</span>
                            <div class="mt-4">
                                <a class="li-ic">
                                    <i class="fab fa-linkedin mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fa fa-envelope mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fab fa-github mr-4 filter-blue"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle person-photo" src="{{url_for('static',filename='images/dummy-person-image.jpg')}}" width="90">
                                <img class="img-responsive rounded-circle organization-logo" src="{{url_for('static',filename='images/logo-ucadatalab-circle.png')}}" width="40">
                            </div>
                            <h5 class="mt-3 name">Javier Jiménez</h5>
                            <span class="darkgrey-text">Full stack developer</span>
                            <div class="mt-4">
                                <a class="li-ic">
                                    <i class="fab fa-linkedin mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fa fa-envelope mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fab fa-github mr-4 filter-blue"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle person-photo" src="{{url_for('static',filename='images/dummy-person-image.jpg')}}" width="90">
                                <img class="img-responsive rounded-circle organization-logo" src="{{url_for('static',filename='images/logo-ucadatalab-circle.png')}}" width="40">
                            </div>
                            <h5 class="mt-3 name">David Peña</h5>
                            <span class="darkgrey-text">Optimization team</span>
                            <div class="mt-4">
                                <a class="li-ic">
                                    <i class="fab fa-linkedin mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fa fa-envelope mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fab fa-github mr-4 filter-blue"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle person-photo" src="{{url_for('static',filename='images/dummy-person-image.jpg')}}" width="90">
                                <img class="img-responsive rounded-circle organization-logo" src="{{url_for('static',filename='images/arbol-komorebi.png')}}" width="40">
                            </div>
                            <h5 class="mt-3 name">David Gordo</h5>
                            <span class="darkgrey-text">Business advisor</span>
                            <div class="mt-4">
                                <a class="li-ic">
                                    <i class="fab fa-linkedin mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fa fa-envelope mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fab fa-github mr-4 filter-blue"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle person-photo" src="{{url_for('static',filename='images/dummy-person-image.jpg')}}" width="90">
                                <img class="img-responsive rounded-circle organization-logo" src="{{url_for('static',filename='images/arbol-komorebi.png')}}" width="40">
                            </div>
                            <h5 class="mt-3 name">Victor Gallego</h5>
                            <span class="darkgrey-text">Optimization team</span>
                            <div class="mt-4">
                                <a class="li-ic">
                                    <i class="fab fa-linkedin mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fa fa-envelope mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fab fa-github mr-4 filter-blue"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle person-photo" src="{{url_for('static',filename='images/dummy-person-image.jpg')}}" width="90">
                                <img class="img-responsive rounded-circle organization-logo" src="{{url_for('static',filename='images/arbol-komorebi.png')}}" width="40">
                            </div>
                            <h5 class="mt-3 name">Manuel Navarro</h5>
                            <span class="darkgrey-text">Modeling team</span>
                            <div class="mt-4">
                                <a class="li-ic">
                                    <i class="fab fa-linkedin mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fa fa-envelope mr-4 filter-blue"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fab fa-github mr-4 filter-blue"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
    </div>

</main>
<!--Main layout-->
{% endblock %}
