{% extends 'base.html' %}

{% block header %}
<!--Main Navigation-->
<header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="#">
                <div style="font-size: 30px;">
                    <b style="color:#85b24a">Smart </b><b style="color:#82bed1">Shipping</b>
                </div>

            </a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link" href="#intro">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#data">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#optimization">Optimization</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#demo">Demo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Team</a>
                    </li>
                </ul>
            </div>
            <!-- Collapsible content -->

        </div>

    </nav>
    <!--/.Navbar-->

    <!--Mask-->
    <div id="intro" class="view">

        <div class="mask rgba-black-strong">
            <div class="container-fluid d-flex align-items-center
                justify-content-center h-100">

                <div class="row d-flex justify-content-center text-center">
                    <div class="col-md-10">
                        <!-- Heading 
                        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Travel</h2>-->
                        <img
                            src="{{url_for('static',filename='images/sslogo@4x.png')}}"
                            alt="My Image"
                            class="img-fluid logo-landing">

                        <!-- Divider -->
                        <hr class="hr-light">

                        <!-- Description -->
                        <h4 class="white-text my-4">Maritime route optimization
                            tool to define a safe route and
                            reduce
                            fuel consumption.</h4>
                        <a class="white-text" href="#demo">
                            <button type="button" href="#demo" class="btn
                                btn-outline-white try-it-btn">Try
                                it!</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.Mask-->

    {% for message in get_flashed_messages() %}

    <div id="SentModal" class="modal rounded-3 .bg-light" style="display:
        block!important;" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-footer centered">
                    <h4 class="text-center">{{ message }} </h4><button
                        type="button"
                        class="btn btn-sm btn-info" style="background-color:
                        #23387a !important;"
                        onclick="$('#SentModal').hide()"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</header>
<!--Main Navigation-->
{% endblock %}


{% block content %}
<!--Main layout-->
<main>
    <div class="container">
        <section id="features" class="text-center">
            <h2 class="mb-5 font-weight-bold text-center section-title">Features</h2>
            <!--Grid row-->
            <div class="row d-flex justify-content-center mb-4">

                <!--Grid column-->
                <div class="col-md-8">

                    <!-- Description -->
                    <p class="darkgrey-text">In the world of maritime transport,
                        there are major challenges to be
                        solved
                        in
                        the coming years.</p>

                </div>
            </div>

            <!--Grid column-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-4 mb-5">
                    <img class="filter-blue"
                        src="{{url_for('static',filename='images/icon/basic_globe.svg')}}"
                        width="60" height="60" alt="Enviromental" />
                    <h4 class="my-4 font-weight-bold">Ecofriendly</h4>
                    <p class="darkgrey-text">Maritime traffic produces 2.5% of
                        the planet's total CO2. The
                        International
                        Maritime Organization's goal is to reduce these
                        emissions by 40% before 2030.</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-5">
                    <img class="filter-blue"
                        src="{{url_for('static',filename='images/icon/ecommerce_dollar.svg')}}"
                        width="60" height="60" alt="Cost" />
                    <h4 class="my-4 font-weight-bold">Money saving</h4>
                    <p class="darkgrey-text">The price of fuel for a day's
                        sailing is around $66000, so for long
                        routes
                        the
                        price is excessive. For example, a route from Algeciras
                        to Shanghai (36 days) costs $2.4M.
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-5">
                    <img class="filter-blue"
                        src="{{url_for('static',filename='images/icon/basic_anchor.svg')}}"
                        width="60" height="60" alt="Safety" />
                    <h4 class="my-4 font-weight-bold">Crew safety</h4>
                    <p class="darkgrey-text">Throughout 2020, 195 cases of armed
                        robbery by pirates were reported.
                        This
                        combined with possible weather problems, causes crews to
                        be exposed to great dangers.</p>
                </div>
                <!--Grid column-->

            </div>
        </section>

        <hr class="my-5">

        <!--Section: Data-->
        <section id="data" class="text-center">
            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold"> Data driven model </h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                    <div class="view overlay z-depth-1-half round">
                        <img
                            src="{{url_for('static',filename='images/demo/currents.gif')}}"
                            class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Currents</h4>
                    <p class="darkgrey-text">
                        (Global Analysis Forecast - Copernicus)<br>
                        10 days forecast
                        Spatial resolution: 0.08º
                        Time resolution: 1 day
                    </p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="view overlay z-depth-1-half round">
                        <img
                            src="{{url_for('static',filename='images/demo/wind.gif')}}"
                            class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Wind</h4>
                    <p class="darkgrey-text">
                        (NOAA Global Forecast System)<br>
                        16 days forecast Spatial resolution: 0.25º
                        Time resolution: 1h (days 1-5) 3h (days 6-16)
                    </p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="view overlay z-depth-1-half round">
                        <img
                            src="{{url_for('static',filename='images/demo/waves.gif')}}"
                            class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Waves</h4>
                    <p class="darkgrey-text">
                        (NOAA Wavewatch III)<br>
                        16 days forecast Spatial resolution: 0.25º
                        Time resolution: 1h (days 1-5) / 3h (days 6-16)
                    </p>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </section>
        <!--Section: Data-->

        <hr class="my-5">
        <!--Section: optimization-->
        <section id="optimization">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold text-center">Optimization</h2>
            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6">

                    <!--Excerpt-->
                    <h4 class="mb-3"><strong>Vessel consumption modeling</strong></h4>
                    <p class="darkgrey-text">
                        We use precise mathematical models to accurately
                        simulate the waves, currents and wind added resistance
                        to
                        propeller and vessel performance.
                    </p>
                    <h4 class="mb-3"><strong>Bio-inspired optimization
                            algorithms</strong></h4>
                    <p class="darkgrey-text">
                        To explore among all the possible routes we make use of
                        state of the art evolutionary optimization algorithms.
                        We perform simulation of thousands feasible routes and
                        combine information of the best individuals to generate
                        the most efficient route.
                    </p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <div class="view overlay z-depth-1-half">
                        <img
                            src="{{url_for('static',filename='images/demo/optimization.gif')}}"
                            class="img-fluid"
                            alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: optimization-->
        <hr class="my-5">
        <!--Section: demo-->
        <section id="demo">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold text-center">Request a demo</h2>
            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <video class="video-element" controls>
                        <source
                            src="{{url_for('static',filename='images/demo/video.mp4')}}"
                            type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <!--Carousel Wrapper-->
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6">

                    <!--Excerpt-->
                    <h4 class="mb-3"><strong>Try our demo version</strong></h4>
                    <p class="darkgrey-text">
                        Give a try to our demostrator and explore the features
                        that our weather routing system provides.
                        This optimizations are pre-calculated and implemented
                        using real maritime traffic data
                        from AIS
                        transponders in order to
                        compare comercial routes to our optimal solution.
                    </p>
                    <p class="darkgrey-text">
                        In this web application you will be able to consult all
                        the oceanographical data on a
                        interactive map of the earth.
                        You will be also able to compare between both the real
                        and optimal route in different
                        time gaps
                        to see how the fuel consumption is affected
                        on every step of the journey.
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-12 col-md-12">
                    <!-- Form contact -->
                    <form action="/demo_request" method="POST" class="px-5 pb-5
                        grey-text">

                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form form-sm"> <i class="fa
                                        fa-user prefix"></i>
                                    <input type="text" id="form_name"
                                        name="name" class="form-control
                                        form-control-sm"
                                        required>
                                    <label for="form_name">Your name</label>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form form-sm"> <i class="fas
                                        fa-mobile-alt prefix"></i>
                                    <input type="tel" id="form_phone"
                                        name="phone" class="form-control
                                        form-control-sm"
                                        required>
                                    <label for="form_phone">Your phone number</label>
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">


                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form form-sm"> <i class="fa
                                        fa-envelope prefix"></i>
                                    <input type="email" id="form_email"
                                        name="mail" class="form-control
                                        form-control-sm"
                                        required>
                                    <label for="form_email">Your email</label>
                                </div>
                            </div>

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form form-sm"> <i class="fas
                                        fa-briefcase prefix"></i>
                                    <input type="text" id="form_company"
                                        name="company"
                                        class="form-control form-control-sm"
                                        required>
                                    <label for="form_company">Your company name</label>
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <textarea class="form-control" id="form_msg"
                                name="msg" placeholder="Message"
                                rows="4"></textarea>
                        </div>

                        <!--Grid row-->
                        <div class="row justify-content-md-center">
                            <!--Grid column-->
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-md
                                    centered-btn"
                                    style="background-color: #23387a
                                    !important;">Request a demo <i
                                        class="fa fa-paper-plane-o ml-1"></i></button>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->

                    </form>
                    <!-- Form contact -->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->


        </section>
        <!--Section: team-->
        <hr class="my-5">
        <section id="team">
            <h2 class="mb-5 font-weight-bold text-center">Meet our team</h2>
            <!--Grid row-->
            <div class="row d-flex justify-content-center mb-4">

                <!--Grid column-->
                <div class="col-md-8">

                    <!-- Description -->
                    <p class="darkgrey-text">A large team of computer
                        scientists, mathematicians and physicists, all
                        specialized in computer science, has been reunited.
                        Thanks to all of them, the development
                        of
                        this tool has been possible.</p>

                </div>
            </div>

            <div class="container mt-3" style="margin-bottom: 3rem !important;">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle
                                    person-photo"
                                    src="{{url_for('static',filename='images/team/david-gomezullate.png')}}"
                                    width="90">
                                <img class="img-responsive rounded-circle
                                    organization-logo"
                                    src="{{url_for('static',filename='images/logo-ucadatalab-circle.png')}}"
                                    width="40">
                            </div>
                            <h5 class="mt-3 name">David Gómez-Ullate</h5>
                            <span class="darkgrey-text">Strategic advisor</span>
                            <div class="mt-4 justify-content-center row">
                                <a class="li-ic icon-btn"
                                    href="https://www.linkedin.com/in/david-g%C3%B3mez-ullate-oteiza-87a820b/">
                                    <i class="fab fa-linkedin mr-4"> </i>
                                </a>
                                <a class="li-ic icon-btn"
                                    href="https://github.com/dgullate">
                                    <i class="fab fa-github mr-4"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle
                                    person-photo"
                                    src="{{url_for('static',filename='images/team/daniel-precioso.png')}}"
                                    width="90">
                                <img class="img-responsive rounded-circle
                                    organization-logo"
                                    src="{{url_for('static',filename='images/logo-ucadatalab-circle.png')}}"
                                    width="40">
                            </div>
                            <h5 class="mt-3 name">Daniel Precioso</h5>
                            <span class="darkgrey-text">Modeling team</span>
                            <div class="mt-4 justify-content-center row">
                                <a class="li-ic icon-btn"
                                    href="https://www.linkedin.com/in/daniel-precioso-garcelan/">
                                    <i class="fab fa-linkedin mr-4"> </i>
                                </a>
                                <a class="li-ic icon-btn"
                                    href="https://github.com/daniprec">
                                    <i class="fab fa-github mr-4"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle
                                    person-photo"
                                    src="{{url_for('static',filename='images/team/francisco-amor.jpeg')}}"
                                    width="90">
                                <img class="img-responsive rounded-circle
                                    organization-logo"
                                    src="{{url_for('static',filename='images/logo-ucadatalab-circle.png')}}"
                                    width="40">
                            </div>
                            <h5 class="mt-3 name">Francisco Amor</h5>
                            <span class="darkgrey-text">Full stack developer</span>
                            <div class="mt-4 justify-content-center row">
                                <a class="li-ic icon-btn"
                                    href="https://www.linkedin.com/in/francisco-amor-97b27820b/">
                                    <i class="fab fa-linkedin mr-4"> </i>
                                </a>
                                <a class="li-ic icon-btn"
                                    href="https://github.com/franamor98">
                                    <i class="fab fa-github mr-4"> </i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <p></p>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle
                                    person-photo"
                                    src="{{url_for('static',filename='images/team/javier-jimenez.jpg')}}"
                                    width="90">
                                <img class="img-responsive rounded-circle
                                    organization-logo"
                                    src="{{url_for('static',filename='images/logo-ucadatalab-circle.png')}}"
                                    width="40">
                            </div>
                            <h5 class="mt-3 name">Javier Jiménez</h5>
                            <span class="darkgrey-text">Full stack developer</span>
                            <div class="mt-4 justify-content-center row">
                                <a class="li-ic icon-btn"
                                    href="https://www.linkedin.com/in/javier-jim%C3%A9nez-de-la-jara-5671ab193/">
                                    <i class="fab fa-linkedin mr-4"> </i>
                                </a>
                                <a class="li-ic icon-btn"
                                    href="https://github.com/Javier-Jimenez99">
                                    <i class="fab fa-github mr-4"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle
                                    person-photo"
                                    src="{{url_for('static',filename='images/team/david-penha.jpeg')}}"
                                    width="90">
                                <img class="img-responsive rounded-circle
                                    organization-logo"
                                    src="{{url_for('static',filename='images/logo-ucadatalab-circle.png')}}"
                                    width="40">
                            </div>
                            <h5 class="mt-3 name">David Peña</h5>
                            <span class="darkgrey-text">Optimization team</span>
                            <div class="mt-4 justify-content-center row">
                                <a class="li-ic icon-btn"
                                    href="https://www.linkedin.com/in/davidpemorales/">
                                    <i class="fab fa-linkedin mr-4">
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle
                                    person-photo"
                                    src="{{url_for('static',filename='images/team/david-gordo.jpeg')}}"
                                    width="90">
                                <img class="img-responsive rounded-circle
                                    organization-logo"
                                    src="{{url_for('static',filename='images/arbol-komorebi.png')}}"
                                    width="40">
                            </div>
                            <h5 class="mt-3 name">David Gordo</h5>
                            <span class="darkgrey-text">Business advisor</span>
                            <div class="mt-4 justify-content-center row">
                                <a class="li-ic icon-btn"
                                    href="https://www.linkedin.com/in/david-gordo/">
                                    <i class="fab fa-linkedin mr-4"> </i>
                                </a>
                                <a class="li-ic icon-btn"
                                    href="https://github.com/davidggphy">
                                    <i class="fab fa-github mr-4"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row justify-content-center">

                    <div class="col-md-4">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle
                                    person-photo"
                                    src="{{url_for('static',filename='images/team/victor-gallego.jpg')}}"
                                    width="90">
                                <img class="img-responsive rounded-circle
                                    organization-logo"
                                    src="{{url_for('static',filename='images/arbol-komorebi.png')}}"
                                    width="40">
                            </div>
                            <h5 class="mt-3 name">Víctor Gallego</h5>
                            <span class="darkgrey-text">Optimization team</span>
                            <div class="mt-4 justify-content-center row">
                                <a class="li-ic icon-btn"
                                    href="https://www.linkedin.com/in/victor-gallego-alcala-679b18116/">
                                    <i class="fab fa-linkedin mr-4"> </i>
                                </a>
                                <a class="li-ic icon-btn"
                                    href="https://github.com/vicgalle">
                                    <i class="fab fa-github mr-4"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle
                                    person-photo"
                                    src="{{url_for('static',filename='images/team/manuel-navarro.jpeg')}}"
                                    width="90">
                                <img class="img-responsive rounded-circle
                                    organization-logo"
                                    src="{{url_for('static',filename='images/arbol-komorebi.png')}}"
                                    width="40">
                            </div>
                            <h5 class="mt-3 name">Manuel Navarro</h5>
                            <span class="darkgrey-text">Modeling team</span>
                            <div class="mt-4 justify-content-center row">
                                <a class="li-ic icon-btn"
                                    href="https://www.linkedin.com/in/manuel-navarro-garc%C3%ADa-a1843a19a/">
                                    <i class="fab fa-linkedin mr-4"> </i>
                                </a>
                                <a class="li-ic icon-btn"
                                    href="https://github.com/ManuelNavarroGarcia">
                                    <i class="fab fa-github mr-4"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-white p-3 text-center rounded box">
                            <div class="team-photo">
                                <img class="img-responsive rounded-circle
                                    person-photo"
                                    src="{{url_for('static',filename='images/team/alberto-torres.jpeg')}}"
                                    width="90">
                                <img class="img-responsive rounded-circle
                                    organization-logo"
                                    src="{{url_for('static',filename='images/arbol-komorebi.png')}}"
                                    width="40">
                            </div>
                            <h5 class="mt-3 name">Alberto Torres</h5>
                            <span class="darkgrey-text">Data management</span>
                            <div class="mt-4 justify-content-center row">
                                <a class="li-ic icon-btn"
                                    href="https://www.linkedin.com/in/albertotb/">
                                    <i class="fab fa-linkedin mr-4">
                                    </i>
                                </a>
                                <a class="li-ic icon-btn"
                                    href="https://github.com/albertotb">
                                    <i class="fab fa-github mr-4"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>

</main>
<!--Main layout-->
{% endblock %}